<div class="container">
  <h1>Welcome to the AJeannedArc project</h1>
  <p>This is a single-page web application, built with:</p>
  <ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a
        href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for
      client-side code</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> and <a href="https://material.angular.io/">Material</a> for
      layout and styling</li>
  </ul>
  <p>Meet the team</p>
  <div class="row">
    <div class="col-sm">
        <mat-card class="example-card">
          <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>-->
            <mat-card-title>Maxime Grava</mat-card-title>
            <mat-card-subtitle>Professionnal sipper</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../assets/moksam.JPG" alt="maxime grava">
          <mat-card-content>
            <i>"C'est de la merde"</i>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm">
          <mat-card class="example-card">
            <mat-card-header>
              <!--<div mat-card-avatar class="example-header-image"></div>-->
              <mat-card-title>Ludovic Heberlin</mat-card-title>
              <mat-card-subtitle>Blasé</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/ludo.jpg" alt="ludovic herbelin">
            <mat-card-content>
              <i>"Je sais pas"</i>
            </mat-card-content>
          </mat-card>
        </div>
      <div class="col-sm">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Fabien Vorpe</mat-card-title>
              <mat-card-subtitle>Crie souvent</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/fab.jpg" alt="fabien vorpe">
            <mat-card-content>
              <i>"Mange tes <>"</i>
            </mat-card-content>
          </mat-card>
        </div>
  </div>
</div>
